registry=https://registry.npmjs.org/
fund=false
audit=false
progress=false
loglevel=warn

# Acelerar instalação na CI/CD
prefer-online=true

# Resolver conflitos automaticamente
legacy-peer-deps=false
strict-peer-deps=false